img.octocat {
    height: 200px;
}
h1,p {
    text-align: center;
    padding: 20px;
}

#container {
    width: 1000px;
    background-color: silver;
}

#container div {
    height: 250px;
    display: flex;
    align-items: center;
    margin: 20px;
}

#imagenes1{
    background-color: skyblue;
    justify-content: space-between;
    
}

#imagenes2{
    background-color: rosybrown;
    justify-content: space-evenly;
}

#imagenes3{
    background-color: white;
    justify-content: space-around;
}